$white-color: #fff;
$dirtywhite-color: #f3f3f3;
$graywhite-color: #ddd;
$gray-color: #ccc;
$darkgray-color: #505a63;
$dark-color: #444;
$red-color: #c51414;
$green-color: #080;
$blue-color: #5b9dd9;
$darkblue-color: #1e8cbe;
$wordpress-blue-color: #007cba;
